{{ template "Head" }}
<main>
    <div class="login-holder">
        <form action="/auth/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <hr>

            <button>Submit</button>
        </form>
    </div>
</main>
</body>
</html>